services:
  mongodb:
    image: mongo:7.0-jammy
    
    container_name: mongodb
    
    ports:
      - "27007:27017"
    
    volumes:
      - mongodata:/data/db

    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    
    networks:
      - backend
    
    restart: always
  qdrant:
    image: qdrant/qdrant:v1.14.1

    container_name: qdrant

    ports:
      - "6333:6333"
      - "6334:6334"

    networks:
      - backend
    
    restart: always

    volumes:
      - type: volume
        source: qdrant_data
        target: /qdrant/storage
    
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml

networks:
  backend:

volumes:
  mongodata:
  qdrant_data:

configs:
  qdrant_config:
    content: |
      log_level: INFO